<form method="post">
    <input type="text" name="text" id="" value="<%= response.text%>">
    <input type="text" name="author" id="" value="<%= response.author%>">
    <input type="text" name="_id" id="" value="<%= response._id%>">
    
    <button type="submit">Update</button>
</form>