<%- include("partial/header.ejs")%>
<body>

    <h1>MY TODO LIST</h1>
    
        <div>
                <form  method="post">
                    <input type="text" name="text" id="">
                    <button type="submit"> Post </button>
                </form>
            </div>

    <% todos.forEach((todo)=>{%>
        <div> 
                 <%= todo.text %>
                 <a class="far fa-edit" href="/update/<%=todo._id%>"></a>
                 <a class="far fa-trash-alt" href="/delete/<%=todo._id%>"></a>
            </div>
       
    <% }) %>

    
</body>
</html>